# .env.production — Docker production ortamı (git'e girmez)
APP_URL=https://axisakademi.com
NODE_ENV=production

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://ysroydlnzrfscrqaltds.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_x24i912fWWkgzgxK-Sg_VA_qiQFLlto

# Opsiyonel
SUPABASE_SECRET_KEY=
RESEND_API_KEY=re_8UbEz5j2_9FNJZFPbyNtJ2Hb8t41hdv9P
ADMIN_EMAIL=selahattintuncer@gmail.com
EMAIL_FROM=Axis Akademi <onboarding@resend.dev>
